.collaborator_section {
    margin-top: 60px;
}

.formarea {
    text-align: center;
}

.imagearea {
    text-align: center;
}

.imagearea img {
    height: 300px;
    width: 350px;
}

.collaborator_bottom {
    margin-bottom: 60px;
}