 .containerofcards {
    position: relative;
    height: 380px;
    width: 950px;
    /* top: 60px; */
    left: calc(42% - 300px);
    display: flex;
    margin-bottom: 5%;
  }
  .img-of-card{
   padding: 2px;
   /* size: 100px; */
   /* height: 100px; */
  }
  .evebanner img{
    width: 100%;
  }
  .content-card1 p{
    text-align: center;
    position: relative;
    margin-top: 5px;
    /* margin-left: 9%; */
  }
  .content-card1 h5{
    margin-top: 14px;
    text-align: center;
  }
  .content-card2 p{
    text-align: center;
    position: relative;
    margin-top: 7px;
    /* margin-left: 9%; */
  }
  .content-card2 h5{
    margin-top: -2px;
    text-align: center;
  }
  .card {
    margin-top: 5%;
    /* margin-bottom: 10%; */
    display: flex;
    height: 323px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #8282826c;
    margin-left: -50px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  .heading{
    text-align: center;
    color: #2487ff;
    margin-top: 60px;
  }
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 90px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: rgb(0, 0, 0);
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 115px;
    left: 20px;
    height: 5px;
    width: 180px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgb(0, 40, 217) 65%, rgb(255, 255, 255) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }