.leaderboard {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}

table {
  margin-top: 80px;
  width: 90%;
  color: black;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat', 'sans-serif';
}


table img {
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

table td {
  max-width: 2em;
  padding: .5em;
  text-align: center;
}

tbody tr {
  box-shadow: 0 2px rgba(100, 100, 100, .5);
  border-radius: 10px;
}

.card{
  text-align: center;
}

.card__name{
  text-align: center;
  font-weight:bold;
  
  
}
.card-deck .card{
  box-shadow:3px 3px rgb(231, 224, 224);
  background-color: whitesmoke;
}
.card-deck .card:hover {

  background-color: #d8dde2;
  background-image: linear-gradient(rgb rgb(67, 67, 231),rgb whitesmoke);
  transform:scale(1.025);
  transition: .2s ease-in-out;
  box-shadow: 5px 5px grey;
}


tbody tr:hover {
  transform: scale(1.025);
  transition: .2s ease-in-out;
}

tbody tr td:nth-child(2) p {
  display: inline-block;
  transform: translateY(-.5em);
  padding-left: .5em;
  text-align: left;
}

table td:nth-child(2) {
  max-width: 5em;
}

tbody tr:nth-child(even) {
  background-color: rgb(153, 173, 238);
  
}

tbody tr:nth-child(odd) {
  background-color: rgb(106, 115, 240);
 
  
}



  .theme-img {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .description {
    display: block;
    transform: translateY(0);
  }

  table {
    max-width: 100vw;
    overflow-x: scroll;
  }
