
.hide{
    display:none !important;
}

.mentorship-left-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1.mentorship-top-block {
    font-size: 40px;
    font-weight: 700;
}
.image-holder img {
    width: 100px;
    border-radius: 100%;
    height: 100px;
}
.slick-style .item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 8px;
    margin: 10px;
    text-align: center;
}
.image-crousel-mid{
    margin-top: 100px;
}
div.name {
    font-size: 15px;
    font-weight: 600;
}
.position {
    font-size: 15px;
}
.mentor-cruise.justify-center picture img {
    width: 100%;
}
div#full-width-2 {
    background: #1b1b1b;
    color: white;
    padding: 5rem 10rem 5rem 10rem;
}
ul.mentorship-message-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li.mentorship-message-list1 {
    text-align: center;
    margin: 0 15px;
}
li.mentorship-message-list1 p {
    text-align: center;
}
li.mentorship-message-list1 p {
    margin-top: 1rem;
}
li.mentorship-message-list1 img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
li.mentorship-message-list1 h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mentorship-message-top h2, .mentorship-message-top p {
    text-align: center;
}
.mentorship-message-top {
    padding: 0px 10rem 10px 10rem;
}
div.mentorship-button button {
    background: #00bee8;
    color:white;
    padding: 10px;
    border-radius: 5px;
    border: unset;
}

.mentorship-button a {
    text-decoration: unset;
}
.mentorship-button {
text-align: center;
}
a.mentorship-button-mentor {
border-bottom: 2px solid white;
margin-left: 15px;
color: white;
}
h2.mentoring-process-heading.center {
text-align: center;
}
.mentoring-process-heading-top {
font-weight: 600;
}
.mentoring-process {
margin-top: 4rem;
}
.fa-apple::before, .fa-instagram:before, .fa-facebook:before, .fa-linkedin:before, .fa-twitter:before, .fa-paypal:before, .fa-google:before {
color: black;
font-size:35px;
}
.section-compare .top-row .col:nth-child(3) {
background: #fff;
padding: 4px 5px 0;
min-width: 216px;
border-radius: 6px 6px 0 0;
-webkit-box-shadow: 0 24px 30px rgba(15,23,42,.07);
box-shadow: 0 24px 30px rgba(15,23,42,.07);
}
.table-compare .inner-rows .inner-row.row .col:nth-child(3){
background: #fff;
padding: 4px 5px 0;
min-width: 216px;
-webkit-box-shadow: 0 24px 30px rgba(15,23,42,.07);
box-shadow: 0 24px 30px rgba(15,23,42,.07);  
}
section#compare-us .table-compare .inner-rows .inner-row.row .col p {
    text-align: center;
}
section#compare-us .inner-rows .inner-row.row:nth-child(odd) {
    background: #f1f4f9;
}
.section-compare .inner-rows .inner-row .col:first-of-type {
    min-width: 30%;
    padding-right: 0;
    letter-spacing: .4px;
}
.section-compare .inner-rows .inner-row {
    flex-wrap: nowrap;
}
.section-compare .inner-rows .inner-row .col {
    padding: 15px;
}
.section-compare .table-compare p {
    margin: 0;
}
.section-compare .top-row .col {
    padding: 40px 10px 25px;
}
.section-compare .top-row .item {
    font-weight: 600;
}
.section-compare .table-compare .col:not(:first-of-type) .item {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.section-compare .table-compare .col:first-of-type {
    min-width: 30%;
}
.section-compare .top-row .col:nth-child(3) {
    background: #fff;
    padding: 4px 5px 0;
    min-width: 216px;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 0 24px 30px rgba(15,23,42,.07);
    box-shadow: 0 24px 30px rgba(15,23,42,.07);
}
.section-compare .inner-rows .inner-row:nth-child(2n+1) {
    background: #f1f4f9;
    border-radius: 10px;
}
.section-compare .inner-rows .inner-row {
    flex-wrap: nowrap;
}
.section-compare .inner-rows .inner-row .col:not(:first-of-type) {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.col .item p img {
    width: 20px;
}
ul.mentor-company {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}
li.mentor-company-list {
    margin: 5px 15px;
    padding: 0 15px;
}
.trusted-mentors-inner-block h2 {
    text-align: center;
    font-weight: 700;
}
.trusted-mentors-inner-block {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    margin: 45px 0;
    padding: 20px 0;
    overflow: hidden;
}
section#compare-us h2 {
    text-align: center;
    font-weight: 400;
}
.compare-image-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
img.comapre-image {
    width: 5%;
    margin: 0 10px;
}
.top-row.row {
    -webkit-box-align: end;
    align-items: flex-end;
    flex-wrap: nowrap;
}
.section-compare .table-compare .col:not(:first-of-type) .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
div#mentorship-reason svg {
    width: 10%;
    margin: 20px 0px;
}
.col-lg-5.col-sm-5.mentorship-reason-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mentorship-reason-box1 span {
    color: #005eff;
    font-size: 25px;
}
.mentorship-reason-box1 h2 {
    font-weight: 600;
}
.mentorship-reason-box2 h3 {
    font-size: 23px;
}
.mentorship-reason1 {
    padding: 5px 30px;
}
.mentorship-reason-box1 {
    border-right: 1px solid grey;
    padding: 5px 20px;
}
.review-block {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
section.top-info-section {
    background: #d1f7ff;
    margin: 3rem 0;
    border-radius: 20px;
}
.review-block .text, .review-block .info {
    font-size: 25px;
}
.info span.name {
    font-size: 15px;
    font-weight: 700;
}
.info span.date {
    font-size: 13px;
}
section#compare-us {
    margin-bottom: 30px;
}
.container.mentoring-process img {
    width: 100%;
}
td.comapre-us-table-body img {
    width: 20px;
}
td.comapre-us-table-body {
    padding: 15px;
    text-align: center;
    width: 20%;
}
th.comapre-us-table-header {
    padding: 15px;
    text-align: center;
}
td.comapre-us-table-body:first-of-type {
    width: 30%;
}
.mentoring-process-content-box {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}
table.comapre-us-table tbody tr.comapre-us-table-body-1:nth-child(even) {
    background: #f2f4f8;
}
tr.comapre-us-table-body-1 td.comapre-us-table-body:nth-child(3) {
    background: #fff;
    padding: 4px 5px 0;
    min-width: 216px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 24px 30px rgba(15,23,42,.07);
}
.fa-clock:before {
    font-size: 20px;
}
button.accordion-button {
    background: none;
    border: none;
}
div.accordion-header {
    background: unset;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headingOne-heading{
    display: flex;
    align-items: center;
    padding-left: 2rem !important;
}
.accordion-button:not(.collapsed) {
    color: blue !important;
    background-color: unset !important;
    box-shadow: unset !important;
}
h2.frequent-questions-heading {
    text-align: center;
}
section.frequent-questions .accordion-item {
    margin: 17px 0;
}

.mentorship-search-button-box1 {
    display: flex;
    flex-direction: revert;
}
.mentorship-search-button-box {
    border: 1px solid grey;
    padding: 2px 20px;
    border-radius: 10px;
    width: 100%;
}
form.mentorshio-search-button-form {
    display: flex;
}
.mentorshio-search-box {
    width: 100%;
}
input#autocomplete {
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 10px 3px;
    padding: 5px 10px;
    border: none;
}
.mentorshio-search-button-1 {
    width: 30%;
}
button.mentorshio-search-button-11 {
    padding: 10px 5px;
    margin: 10px 5px;
    width: 100%;
    background: #38bae4;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: unset;
    border-radius: 5px;
}
.popular-searches {
    margin-top: 3rem;
}
ul.popular-search-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
li.popular-search-item-list {
    list-style: none;
    padding: 13px 20px;
    margin: 10px;
    background: #38bae4;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
}
/* @keyframes trustedmentor {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 4));
    }
  }
  .trusted-mentor-items {
    animation: trustedmentor 40s linear infinite;
    display: flex;
} */
/* .trusted-mentor-items:before, .trusted-mentor-items:after {
    content: "";
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: 2;
} */
  @keyframes imageblocksliderholder {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-250px * 5));
    }
  }
  div#image-block1 {
    /* background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
div#image-block1:before, div#image-block1:after {
    /* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
    content: "";
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
div#image-block1:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
div#image-block1before {
    left: 0;
    top: 0;
}
.image-block-slider-holder {
    animation: imageblocksliderholder 40s linear infinite;
    display: flex;
    /* width: calc(250px * 14); */
}
.images-block-slider {
    height: auto;
    width: auto;
}
/* review block CSS */
section.mentees-review {
    margin-top: 1rem;
}
.mentees-review-block {
    background: #00bde8;
    box-shadow: rgb(35 159 242) 30em 0px 6em -45px inset;
    margin: 1rem 0;
    padding: 1rem 0;
    overflow: hidden;
}
section.mentees-review {
    overflow: unset;
}
ul.mentees-review-item-list {
    margin: 0;
    padding: 0;
    height: 300px;
}
li.mentees-review-list-1 {
    list-style: none;
    text-align: center;
}
.mentees-image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mentees-image-block img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid white;
}
.mentees-review-content p {
    padding: 2rem;
    margin-bottom: 0;
    color: white;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.mentees-review-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button.button.mentees-review-read-more {
    background: #047bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
h2.mentees-name {
    color: white;
    text-align: center;
    padding: 20px;
}
h2.mentees-review-heading {
    text-align: center;
}
.mentees-review-block-bottom .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mentees-review-block-bottom .owl-nav.disabled {
    display: none;
}
.mentees-review-block-bottom button.owl-dot {
    padding: 1px 23px;
    margin: 0 2px;
}
.mentees-review-block-bottom button.owl-dot.active {
    background: #00bbe9;
}
.mentees-review-block-bottom .owl-stage {
    display: flex;
}
#popup{
    z-index: 10000000;
}


#more {
    display: none;
}
.popup {
    display: none;
    position: relative;
    padding: 10px;
    width: 50%;
    left: 25%;
    height: auto;
    top: -20rem;
    background: #00bde8;
    z-index: 20;
}
  .popup-close-button {
    text-align: end;
  }
  .popup-close-button a {
    background: white;
    color: #00bce8;
    padding: 8px;
    position: absolute;
    top: 0;
    font-weight: 600;
}
.popup p {
    color: white;
    padding: 20px;
}
.popup p {
    color: white;
    padding: 20px;
}

/* Popular Mentorship */
.mentors-filter-tabs {
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}
.mentors-filter-tabs .popular-mentorships-nav-tabs {
    display: block;
    margin: 0 22% 0 0;
    border: none;
}
.mentors-filter-tabs .popular-mentorships-nav-tabs .popular-mentorships-nav-item {
    margin: 0 0 11px;
    list-style: none;
}
.mentors-filter-tabs .popular-mentorships-nav-tabs .popular-mentorships-nav-link.active, .mentors-filter-tabs .popular-mentorships-nav-tabs .popular-mentorships-nav-link:hover {
    color: #141f2f;
}
.mentors-filter-tabs .popular-mentorships-nav-tabs .popular-mentorships-nav-link {
    border: none;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    color: #98a2b3;
    background: 0 0;
    border-radius: 0;
    letter-spacing: -.6px;
    padding: 0;
}
a.popular-mentorships-item {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -.11px;
    color: #141f2f;
    font-family: Inter,sans-serif;
    color: #141f2f;
    border-radius: 10px;
    -webkit-transition: .3s color,.3s background;
    transition: .3s color,.3s background;
    padding: 7px 8px;
    text-decoration: none;
}
div#mentors-tab-expertise li {
    width: 50%;
    list-style: none;
}
ul.popular-mentorships-items-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
.popular-mentorships-box {
    background: #c6e6f1;
    padding: 3rem;
}
h2.popular-mentorships-heading {
    text-align: center;
    margin: 0 0 50px;
    letter-spacing: -.03em;
    font-size: 36px;
    font-weight: 600;
}


/* First section typewriter effect css */
@media only screen and (min-width: 768px) {
a.typewrite{
    height: 40px;
    display: block;
}
span#mentorship-typed-headline .wrap {
    height: 40px;
}
}
@media only screen and (max-width: 768px) {
    div#full-width-2 {
        background: #1b1b1b;
        color: white;
        padding: 0;
    }
    ul.mentorship-message-list {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    li.mentorship-message-list1 img {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 20%;
    }
    li.mentorship-message-list1 p {
        text-align: center;
    }
    .mentorship-message-top {
        padding: 0;
    }
    .mentorship-message-top h2, .mentorship-message-top p {
        text-align: center;
    }
    .mentorship-button {
        font-size: 13px;
    }
    .mentoring-process-heading-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mentoring-process-heading-icon img {
        width: 10% !important;
    }
    h2.mentoring-process-heading.center {
        text-align: center;
        font-size: 1.5rem;
    }
    .image-block-slider-holder {
        display: block;
    }
    .table-wrap {
        overflow-x: auto;
    }
    ul.mentor-company {
        overflow-x: auto;
    }
    ul.popular-search-items {
        flex-direction: column;
    }
}