/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
} */

body{
   background-color: #ffffff;
}

.wrapper{
    /* font-family: 'Montserrat',  'sans-serif'; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 95%;
  height: 90%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.right a img{
    width: 20px;
    height: 20px;
    margin-left: 98%;
    margin-top: -1%;
}
.wrapper .left{
  width: 25%;
  background-color: #bde9f6;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #000000;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
  text-align: center;
}

.wrapper .left p a i{
  color: black;
}

.wrapper .right{
  width: 75%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}
.Logout{
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 2px 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.myprofileoption{
  text-align: right;
}
.myprofileoption a{
    color: #0069e1;
    text-decoration: none;
}
.profile-content{
  background-color: #fff;
  margin-top: 80%;
  height: 20%;
  margin-left: 5%;margin-right: 5%;
  padding: 8%;
  text-decoration: none;
}
