body{
font-family: 'Montserrat',  'sans-serif';
}

.home_hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 7px;
  width: 5%;
}

.evebanner img{
  width: 100%;
}

header,
section {
  overflow-x: hidden;
  left: 100px;
}
header img {
    height: 80px;
    margin-left: -110px;
}

.container{
  background-attachment: white;
  width: 100%;
}


.section-0{
  background-color: #37bbe454;
  text-align: center;
  width: 100%;
  font-family: Montserrat;
  font-size: small;
}

.section-0 img{
  height: 300px;
  width: 360px;
  /* left: 70%; */
}


.container-hero
{
  background-color: rgb(192, 198, 201);
  padding-left: 3%;
  text-align: center;
}

/* #login-btn
{
  
  margin-top: 2px;
  margin-left: 0%;
} */

/* .navbar-collapse{
  height: auto;
  position: relative;
  z-index: 1;
} */

.my-button{
  width:200px;
  height:80px;
  font-size:30px;
  /* font-family: 'Times New Roman', Times, serif; */
  background-color:#6ab1bc;
  color: black;
  border:0px;
  margin-right: 100px;
  box-shadow: 1px rgb(121, 116, 116);;
  border-radius: 10px;
  margin-left: 230px;
  text-size-adjust: 40;
  display: inline-block;
  position: relative;
}
.my-button-2{
  width:200px;
  height:80px;
  font-size:30px;
  /* font-family: 'Times New Roman', Times, serif; */
  background-color:#e8da5f;
  color: black;
  border:0px;
  margin-right: 130px;
  box-shadow: 10px rgb(96, 93, 93);
  border-radius: 10px;
  margin-left: 100px;
  text-size-adjust: 40;
  display: inline-block;
}
.my-button-3{
  width:200px;
  height:80px;
  font-size:30px;
  font-family: 'Times New Roman', Times, serif;
  background-color:#ad77aa;
  color: black;
  border:0px;
  box-shadow: 1px rgb(121, 116, 116);
  border-radius: 10px;
  margin-right: 100px;
  display: inline-block;
}
.overlay{
  text-align: center;
  font-size: medium;
  
}
.gallery{
  display: flex;
  justify-content: center;
  top: 40px;
  align-items: center;
 
}

.gallery-section{
  position: relative;
}
.gallery-section img{
  width: 150%;
  height: 40%;
  position: absolute;
}
.Image1{
  left: 5em;
}
.Image2{
  left: 10rem;
  top: 1rem;
}
.Image3{
  left: 15rem;
  top: 2rem;
}
.gallery-section img:hover{
  z-index:20;
  
}
.gallery-section:hover img:not(:hover){
  transform:scale(.9)
}
@media screen and (max-width:500px){
  .Image1{
    left:5rem;
  }
  .Image2{
    left:7rem;
  }
  .Image3{
    left:10rem;
  }
}
.gallery-item-1:hover{
  transform: scale(1.1);
}
.gallery-item{
  border-radius: 0%;
   margin-top: 50;
   margin-left: 50;
   margin-right: 50;
   margin-bottom: 50;
   height: 70vh;
   transition: transform 0.3s ease-in-out;
}
p{
   text-align: justify;
   font-size: medium;
   display: block;
}
.bannertext{
  margin-top: 80px;
  margin-bottom: 80px;
}

.bannertext p {
  text-align: center;
}
.bannerimage{
  margin-top: 80px;
  margin-bottom: 80px;
}
/* .container-fluid
{
  position: absolute;
  z-index: 1;

} */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 11;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dee2e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

.logoimg{
  vertical-align: middle;
  border-style: none;
  height: 80px;
  width: auto;
  padding-left: 2rem;
}

header .nav-link:hover {
  color: black;
}

.nav-item a {
  color: black;
}

.nav-item a:hover {
  color: black;
  text-decoration: none;
}

/* here */

 header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
} 
.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

/********** section 1 **************/

.section-1 {
  padding: 6vmin 0vmin;
}


/*  Section 2  */

.cover {
  width: 100%;
  height: 140px;
  /* background-image: url("img/feature/3.jpg"); */
  /* background-color: grey;
  background-position: -24rem -19rem;
  background-size: 150%;
  position: relative; */
}

/* .cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
} */

.cover .content {
  width: 100%;
  /* height: 100%; */
  background-color: white;
  /* padding-top: 19vmin; */
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: rgb(0, 0, 0);
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #000000;
}
.feature{
  width: 120px;
  height: 150px;
}

/* .numbers .rect {
  position: relative;
  z-index: 1;
  background: rgb(255, 255, 255);
  width: 17rem;
  height: 17rem;
  padding-top: 3.5vmin;
  margin: 1rem
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(0, 191, 255, 0.484);
} */

/* .numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: rgb(71, 181, 255);
}

.numbers .rect > p {
  font-family: var(--Patua);
} */

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

/* .purchase .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text-index {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}
.card-body{
    cursor: pointer;
}
.card-body .pricing {
  background: rgba(3, 213, 250, 0.501);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 4vmin;
  padding: 1em 0.5em;
} */

/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: rgb(0, 0, 0);
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: rgba(140, 236, 255, 0.903);
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.text-secondary {
  text-align: center;
}

/* .section-4 .team {
  padding: 10vmin 4vmin;
} */

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text-index {
  padding: 0.5em;
}

.section-4 .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  /* padding: 14vmin 18vmin; */
  /* padding: 30px 40px 30px 40px; */
  padding: 30px -6px;
  margin-right: 0%;
  margin-left: 0%;
  width: 100%;
}

.text-light{
    color: #ffffff !important;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.text-light {
  color: #ffffff !important;
}

.mr_auto{
  margin-right: 0%;
}
.sponsors{
  margin-top: 50px;
  margin-bottom: 50px;
}
.images{
  position: relative;  
  box-sizing: border-box; 
  width: 100%;
  margin-right: 0px;;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 0% 3%;
}

.simg{
  width: 350px;
  height: 152px;
  border-radius:4px ;
  box-shadow: none;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  margin: 20px;
  padding: 15px 15px;
}
ul {
  font-weight: 500;
}
.footer-section {
background: rgb(27, 27, 27);
position: relative;
width: 100%;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #29ade5;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #ffffff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #332f2f;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
margin: 30px 1px 7px 1px;
width: 98%;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
color: #ffffff;
line-height: 28px;
text-align: justify;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;

}
.footer-social-icon i {
height: 30px;
width: 30px;
text-align: center;
line-height: 30px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #1ab4de;
}
.instagram-bg{
  background-color: #F56040;
}
.linkedin-bg{
  background-color: #0077b5;
}
.youtube-bg{
  background-color: #FF0000;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
margin-right: 20px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 81px;
bottom: -15px;
height: 2px;
width: 50px;
background: #2271bc;
margin-right: 20px;
}
.footer-widget ul li {
display: inline-block;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #34d0e5;
}
.img-fluid {
  max-width: 100%;
  height: 100px;
}
.footer-widget ul li a {
color: white;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0px;
  background: #0093ee;
  padding: 14px 5px;
  border: 1px solid #4a4a4a;
  top: 0;
  color: white;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
}
.copyright-text p {
margin-top: 4%;
font-size: 14px;
color: white;
text-align: left;
}
.copyright-text p a{
color: #24bbda;
}

.footer-menu {
margin-top: 4%;
font-size: 14px;
color: white;
text-align: right;
}

.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #29e0da;
}
.footer-menu li a {
font-size: 14px;
color: white;
}
.phone-details a {
  color: white;
  text-decoration: none;
}
.email-details a {
  color: white;
  text-decoration: none;
}
/* .btn-3 {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
} */
article {
  --img-scale: 1.001;
  --title-color: rgb(188, 188, 188);
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}
/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}
figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}
.article-body {
  padding: 24px;
}
article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}
article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}


.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

/* @media screen and (max-width: 960px) {
  article {
      container: card/inline-size;
  }

  .article-body p {
      display: none;
  }
} */

/* @container card (min-width: 380px) {
  .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
  }

  .article-body {
      padding-left: 0;
  }

  figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
  }

  figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
  }
} */


i{
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.footer-widget-phone{
  color: white;
}
.footer-widget-heading{
  text-align: center;
  margin-right: 60px;
}

.past-event{
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
}

.past-event-heading{
  text-align: left;
}

.team {
  margin-bottom: 60px;
}

.knowmore p {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}