.clearfix{
	clear: both;
}
.winnerbanner img{
  width: 100%;
}
.card-container{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  #main {
    padding: 3% 3%;
    margin-bottom: 30px;
    padding-top: 2%;
  }
  /* .head{
      padding:20px;
  } */
  body{
    font-family: 'Montserrat',  'sans-serif';
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .wrapper {
        background-color: #fff;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 50px 0;
        transition: all .3s ease;
      }
      /*event banner*/
      .evebanner img{
        width:100%;
      }
      /*end of event*/
      
      .card-title {
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        color: #27213c;
        text-align: center;
        /* padding: 3rem 1.5rem; */
      }
      
      .cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .col {
        width: calc(22% - 2rem);
        margin: .7rem;
        cursor: pointer;
      }
      
      .container {
        transform-style: preserve-3d;
        perspective: 1000px;
      }
      
      .front,
      .back {
        background-size: cover;
        background-position: center;
        transition: transform .7s cubic-bezier(.4, .2, .2, 1);
        backface-visibility: hidden;
        text-align: center;
        min-height: 320px;
        /* height: auto; */
        height: 60%;
        border-radius: 10px;
        color: #000;
        font-size: 1rem;
      }
      .participant{
        width:100%;
        height:100%;
      }
      
      .back {
        background-color:#03b7fe;
      }
      
      /*Front of cards*/
        /*Hackathon*/
          /*Prize-1*/
      .Hackathon_1{
        display:grid;
        grid-template-columns: auto auto auto;
        padding-top:10px;
        row-gap: 10px;
        column-gap: 10px;
        justify-content: center;
      }
      .img-part{
        width: 300px;
        height: 300px;
      }
      .front1_1{
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        background-repeat:no-repeat;
        text-align: center;
        justify-content: center;
        width: 150px;
        height:150px;
      }
      .front1_2{
        background-image: url('/img/Yuvraj-Aggarwal-1st-hackathon150x150.jpeg');
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        background-repeat:no-repeat;
        text-align: center;
        justify-content: center;
        width:150px;
        height:150px;
      }
      .front1_3{
        background-image: url('/img/Sahej-Budhiraja-1st-hackathon-150x150.jpeg');
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        background-repeat:no-repeat;
        text-align: center;
        justify-content: center;
        width:150px;
        height:150px;
      }
          /*Prize-2*/
          .Hackathon_2{
            display:grid;
            grid-template-columns: auto auto auto;
            padding-top:10px;
            row-gap: 10px;
            column-gap: 10px;
            justify-content: center;
          }
          .front1_4{
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        background-repeat:no-repeat;
        text-align: center;
        justify-content: center;
        width:150px;
        height:150px;
          }
          .front1_5{
            background-image: url('/img/Himanshu-Pic-2nd-hackathon150x150.jpeg');
            background-size: cover;
            border-radius: 10px 10px 10px 10px;
            background-repeat:no-repeat;
            text-align: center;
            justify-content: center;
            width:150px;
            height:150px;
          }
          .front1_6{
            background-image: url('/img/Anmol-Jain-Pic-2nd-hackathon150x150.jpeg');
            background-size: cover;
            border-radius: 10px 10px 10px 10px;
            background-repeat:no-repeat;
            text-align: center;
            justify-content: center;
            width:150px;
            height:150px;
          }
        /*Ideathon*/
          /*Prize-1*/
          .Ideathon_1{
            display:flex;
            flex-direction: column;
            justify-content: center;
          }
          .front2_1{
            background-image: url('/img/Kunal-Thapliyal-1st-Ideathon-150x150.jpeg');
            background-size: cover;
            border-radius: 10px 10px 10px 10px;
            background-repeat:no-repeat;
            text-align: center;
            justify-content: center;
            width: 210px;
            height:215px;
          }
            /*Prize-2*/
            .Ideathon_2{
              display:flex;
              flex-direction: column;
              justify-content: center;
            }
            .front2_2{
              background-image: url('/img/Daksh-Suryavanshi-2nd-Ideathon-150x150.jpeg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width: 210px;
              height:215px;
            }
            /*Prize-3*/
            .Ideathon_3{
              display:grid;
              grid-template-columns: auto auto ;
              padding-top:10px;
              row-gap: 10px;
              column-gap: 10px;
              padding-left: 40px;
              justify-content: center;
            }
            .front2_3{
              background-image: url('/img/Ashutosh-Pic-3rd-Ideathon150x150.jpeg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width: 100px;
              height:100px;
            }
            .front2_4{
              background-image: url('/img/Harsh-Pic-3rd-Ideathon150x150.jpeg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width:100px;
              height:100px;
            }
            .front2_5{
              background-image: url('/img/Anmol-Ratan-Pic-3rd-Ideathon-150x150.jpeg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width:100px;
              height:100px;
            }
          
          /*Coding*/
            /*Prize-1*/
            .Coding_1{
              display:grid;
              grid-template-columns: auto auto;
              padding-top:10px;
              row-gap: 10px;
              column-gap: 10px;
              justify-content: center;
            }
            .front3_1{
              background-image: url('/img/Jatin-Pic-1st-Coding-150x150.jpeg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width: 100px;
              height:100px;
            }
            .front3_2{
              background-image: url('/img/Chetan-Batra-Pic-1st-coding-150x150.jpeg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width:100px;
              height:100px;
            }
            /*Prize-2*/
            .Coding_2{
              display:grid;
              grid-template-columns: auto auto auto;
              padding-top:10px;
              row-gap: 10px;
              column-gap: 10px;
              justify-content: center;
            }
            .front3_3{
              background-image: url('/img/blurred.jpg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width: 100px;
              height:100px;
            }
            .front3_4{
              background-image: url('/img/blurred.jpg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width:100px;
              height:100px;
            }
            .front3_5{
              background-image: url('/img/blurred.jpg');
              background-size: cover;
              border-radius: 10px 10px 10px 10px;
              background-repeat:no-repeat;
              text-align: center;
              justify-content: center;
              width:100px;
              height:100px;
            }
      /*End of front of cards*/

     

      /*back of cards*/
      .inner_p{
        color:white;
        font-weight: 500;
        font-size:15px;
        width: 100%;
      }
      /*end of back of cards*/

      /*start of intro*/
      .inner_p_1{
        font-size: 13px;
        font-weight: 500;
        width:100%;
      }
      /*end of intro*/

      .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: 1;
        background-color: #5ca2ca;
        backface-visibility: hidden;
        border-radius: 10px;
      }
      
      .container:hover .front,
      .container:hover .back {
        transition: transform .7s cubic-bezier(.4, .2, .2, 1);
      }
      .back {
        position: absolute;
        top: 0;
        left: 0;
        /* height: 70%; */
        width: 100%;
      }
      .participant{
        height:70% ;
        width: 70%;
      }
      .inner {
        transform: translateY(-50%) translateZ(60px) scale(.94);
        top: 53%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        outline: 1px solid transparent;
        perspective: inherit;
        z-index: 2;
      }
      
      .container .back {
        transform: rotateY(180deg);
        transform-style: preserve-3d;
      }
      
      .container .front {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
      }
      
      .container:hover .back {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
      }
      
      .container:hover .front {
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
      }
      
      .front .inner p {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: black;
        text-align: center;
        justify-content: center;
        position: relative;
      }
      /*Card's title*/
      .p1{
        margin-left: -15px;
        margin-top: 20px;
      }
      .p2{
        margin-top: 20px;
      }
      .p3{
        margin-top: 20px;
      }
      .p4{
        margin-top:0px;
        margin-left: -15px;
      }
      /*end of card's title*/

      .front .inner p:after {
        content: '';
        width: 8rem;
        height: 1px;
        position: absolute;
        background: #000;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.35rem;
      }
      
      .inner a {
        text-decoration: none;
        color:#fff;
        font-weight:bold;
        font-size: medium;
        background-color: rgb(241, 11, 11);
        padding:5px;
        border:1px solid black;
      }
      
      .inner a:hover {
        color: rgb(250, 189, 59);
        font-weight: bolder;
        font-size: 22px;
        padding:5px;
        background-color: #c2e8f7;
        transition: all .3s;
        border: 1px solid #410cd4;
        border-radius: 25px;
        text-shadow:-1px 0 black,0 1px black,1px 0 black,0 -1px black;
      }

      
      
      @media screen and (max-width: 68rem) {
        .col {
          width: calc(33.333333% - 4rem);
        }
      }
      
      @media screen and (max-width: 52rem) {
        .col {
          width: calc(45% - 2rem);
        }
      }
      
      @media screen and (max-width: 38rem) {
        .col {
          width: 60%;
        }
      } 
      .inner img{
        width: 90%;
        height: 90%;
      }
      