body{
	margin:0px;
	padding: 0px;
	background-color:rgb(7, 144, 198);
	/* overflow: hidden; */
	/* font-family: system-ui; */
  font-family: Montserrat;
}
.clearfix{
	clear: both;
}
.logo{
  width:100px ;
  height: 70px;
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

#main-content {
  height: 500px; /* set a fixed height for the content area */
  overflow: auto; /* add a scrollbar when the content overflows */
}

#main {
  padding: 16px;
  margin-left: 20px;
  padding-bottom: 20%;
  padding-top: 2%;
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
  margin-bottom: 3%;
}
.profile{
	display: inline-block;
  /* right: 20%; */
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #0f95ca;
}
.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #007cad;
	margin-left: 10px;
	padding:10px;
}
.box:hover{
  color:rgb(255, 255, 255);
  background-color: #03b7fe;;
}
.box:hover .box p{
  color:white;
}
.box:hover .box p span{
  color:white;
}
.box:hover .box-icon{
  color:white;
}
.box p{
	 font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color:white;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #00259f;
    padding-right: 10px;
}
.col-div-8{
	width: 70%;
	float: left;
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color:#ffffff;
}
.content-box p span{
	float: right;
    background-color:#007cad;
    padding: 3px 10px;
    font-size: 15px;
}
.content-box p span:hover{
  color:white;
  background-color:#03b7fe ;
}
.box-8, .box-4{
	width: 95%;
	background-color: #007cad;
	height: 330px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
 th {
  text-align: left;
  padding:15px;
  color: #ffffff;
  border-bottom: 3px solid #001f38cb;
}
 td {
  text-align: left;
  padding:10px;
  color: #fff;
  border-bottom: 3px solid #001f38cb;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #00259f;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #03b7fe;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: rgb(255, 255, 255) !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 85%);
  z-index: 9999;
  transition: all 1.5s ease;
}
header,
section {
  /* overflow-x: hidden; */
  left: 100px;   /*now*/
}
header img {
    height: 80px;
    margin-left: -110px;
}
#login-btn
{
  padding: 15px;
  /* padding-top: 2%; */
  margin-top: 12px;
  margin-left: 20%; /*now*/
}

.navbar-collapse
{
  padding: 0% 3%;
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: rgb(28, 0, 140);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;  /*now*/
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */  /*now*/
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dee2e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}
header .row .col-md-7{           /*now*/
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}
header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
} 
.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  } }
  .profilephoto{
    margin-top: 11px;
    margin-left: 250%;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .crossback{
    margin-top: 14px;
    margin-left: 330%;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }