

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #808080;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 85%);
  z-index: 9999;
  transition: all 1.5s ease;
}

body {
  font-family: Montserrat;
  /* margin-bottom: 4%; */
}

.text-light {
  color: #ffffff !important;
}

/* .card-text{
  text-align: justify;
  padding: 0% 0%;
} */

.card-container{
  padding-top: 80px;
}

/* @media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
} */

/* @media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
} */

/* @media (min-width: 992px) {
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
} */
/* :root{
    --color-white:#f3f3f3;
    --color-darkblue:#5b9cd1;
    --color-darkblue-alpha:rgba(126, 203, 233, 0.8);
    --color-green:#ffffff;
}
*,*::before,*::after{
    box-sizing: border-box;
} */
body{

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    /* line-height: 15px; */
    /* width: 7px; */
    color: black;
    margin: 0;
}
/* body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(215deg,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),url(/developers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
#title{
    color: rgb(0, 49, 173);
    font-weight: 600;
    
    
}
h1{
    font-weight: 400;
    line-height: 1.2;
}
p{
    font-size: 1.125rem;
}
h1,p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input,button,select,textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
    padding:1.8rem 1rem;
}

/* .header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    text-align: center;
} */
#description{
    font-style: Montserrat;
    font-weight: 200;
    /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
    color: black;

}
.clue{
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}
#quest{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
form{
    background: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
}

/* @media (min-width: 480px){
    form{
        padding: 2.5rem;
    }
} */
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
.formControl{
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.formControl:focus{
    border-color:blue;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(0,123,255,0.25)
}
.inputRadio,
.checkbox
{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;

}
.textarea{
    width: 100%;
    padding: 0.75rem;
    font-size: 1.15rem;
    outline: none;
    border-color: blue;
    border-radius: 5px;
}
